{% extends "structure.html" %}
{% block content %}
    {% for game in all_games %}
        <section>
            <div class="container py-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <h1>{{ game.name }}</h1>
                        <br><br>
                        <p> {{ game.description}} </p>
                        <hr class="my-3">
                        <div class="d-flex justify-content-start align-items-center">
                        <p class="mb-0"><span
                            class="text-muted small">{{ game.developer }}</span></p>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{{ url_for('game', game_name=game.name)}}" role="button">Edit Game</a>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock content%}