{% extends "structure.html" %}
{% block content %}
        <section>
            <div class="container py-5">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <h1>{{ game_instance.name }}</h1>
                        <p> {{ game_instance.description}} </p>
                        <hr class="my-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="col">
                                <p class="mb-0">Developer: {{ game_instance.developer }}</p>
                            </div>
                            <div class="col">
                                <p class="mb-0">Release Year: {{ game_instance.release_year }}</p>
                            </div>
                            <div class="col">
                                <p class="mb-0">Age Rating: {{ game_instance.age_rating }}</p>
                            </div>
                            <div class="col">
                                <p class="mb-0">Score: {{ game_instance.score }}/100</p>
                            </div>
                        </div>
                        <div>
                            <br>
                            <a class="btn btn-secondary" href="{{ url_for('update_game', game_id=game_instance.id)}}">Update Game</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_modal">Delete Game</button>
                        </div>
            </div>
        </section>
        <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="edelete_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="delete_modal_label">Are You Sure You Want To Delete {{ game_instance.name }}?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_game', game_id=game_instance.id)}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
{% endblock content%}