<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Games List</h1>
    <table border = 5>
        <thead>
            <td>Name</td>
            <td>Release Year</td>
            <td>Age Rating</td>
            <td>Score</td>
            <td>Developer</td>
            <td>Description</td>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row["name"]}}</td>
            <td>{{row["release_year"]}}</td>
            <td>{{row["age_rating"]}}</td>
            <td>{{row["score_rating"]}}</td>
            <td>{{row["developer"]}}</td>
            <td>{{row["description"]}}</td>
        </tr>

        {% endfor %}

    </table>

    <br><br>

    <h2>Return To Home page</h2>
    <a href = "/">Click Here</a>
</body>
</html>